/* ------------------------------------------------------------- Global Settings --------------------------------------------------------- */
  :root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #84DCC6;
    --white: #FFFFFF;
    --kusama: #E6007A;
  }
  
  @font-face {
      font-family: 'PetitaBold';
      src: url('fonts/PetitaBold.ttf');
  }

  @font-face {
    font-family: 'PetitaMedium';
    src: url('fonts/PetitaMedium.ttf');
  } 

  @font-face {
    font-family: 'PetitaLight';
    src: url('fonts/PetitaLight.ttf');
  } 

  @font-face {
    font-family: 'SpaceMonoReg';
    src: url('fonts/SpaceMono-Regular.ttf');
  } 

  @font-face {
    font-family: 'SpaceMonoBold';
    src: url('fonts/SpaceMono-Bold.ttf');
  } 
  
  @font-face {
    font-family: 'Space Grotesk';
    src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }

  * {
      margin: 0 auto;
      scroll-behavior: smooth;
      padding: 0;
      background-color: #000000;
      box-sizing: border-box;
  }
/* --------------------------------------------------------- End Global Settings --------------------------------------------------------- */
/* ----------------------------------------------------------- Landing Section  ---------------------------------------------------------- */
  .main_header {
      background-image: url(images/greysand.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--white);
      height: 100vh;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.4s ease 0s;

    }

  .main_header a {
    text-decoration: none;
    color: var(--white)
  }
  
  .main_header h1 {
      margin: 0 auto;
      font-size: 10em;
      font-family: 'Space Grotesk';
      transition: all 0.4s ease 0s;
      background: transparent
  }

  .main_header h1:hover {
    cursor: pointer;
  }
  
  .main_header small {
      color: var(--white);
      margin: 0 auto;
      font-size: 3em;
      font-family: PetitaBold;
      background: transparent;
  }

  /* Scroll Down Animation */
  .scroll-container{
    width: 30px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 15px;
    position: relative;
  }
  
  .scroller{
    width: 16px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 34px;
    animation: scroller 1500ms ease-out infinite;
  }

  .full_scroll_container {
    font-family: "Space Grotesk";
    font-size: 0.5em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .full_scroll_container small {
    padding: 1em;
  }
  
  @keyframes scroller{
    0%{
      bottom: 34px;
    }
    5%{
      top: 4px;
    }
    32%{    
      bottom: 4px;
    }
    66%{
      top: 34px;
      bottom: 4px;
    }
    100%{
      top: 4px;
      bottom: 34px;
    }
  }

#loader-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid var(--white);
  animation: loader 3s 3 ease-in;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--kusama);
  animation: loader-inner 3s 3 ease-in;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* ---------------------------------------------------------- End Landing Section  ------------------------------------------------------ */
/* ---------------------------------------------------------- First Info Section  ------------------------------------------------------- */
#section_two {
  width: 100%;
  height: 100vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "SpaceMonoReg";
  transition: all 0.4s ease 0s;
}

.tile {
  margin: 2em;
  background: #000000;
  height: 70vh;
  width: 70vw;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
  border: 1px solid var(--white)
}

.tile:hover {
  transform: translate(0px, -10px);
  border: 1px solid var(--kusama);
}

.tile h2 {
  background-color: transparent;
  text-align: center;
  margin: 1em;
  font-family: "Space Grotesk";
}

.tile_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tile_content p {
  margin: 2em;
  width: 30vw;
  
  background-color: transparent;
}

.map {
  max-height: 45vh;
  margin: 2em;
}

.languages {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--mainblue);
}

.languages li {
  background-color: transparent;
}
.languages li a {
  color: var(--kusama);
  background-color: transparent;
}

.languages li a:visited {
  color: var(--kusama);
  background-color: transparent;
}

.languages a {
  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--kusama),var(--kusama));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  text-decoration: none;
}

languages a:hover,
languages a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  opacity: 200%;
}

.languages_mobile {
  display: none;
}

/* ---------------------------------------------------------- End First Info Section  ---------------------------------------------------- */
/* ---------------------------------------------------------- Second Info Section  ------------------------------------------------------- */
#section_three {
  width: 100%;
  height: 150vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "SpaceMonoReg";
  transition: all 0.4s ease 0s;
  margin-top: -10em;
}

.tile2 {
  margin: 2em;
  background: #000000;
  height: 110vh;
  width: 70vw;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
  border: 1px solid var(--white)
}

.tile2:hover {
  transform: translate(0px, -10px);
  border: 1px solid var(--kusama);
}

.tile2 h2 {
  background-color: transparent;
  text-align: center;
  margin: 1em;
  font-family: "Space Grotesk";
}

.tile2_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tile2_content p {
  margin: 2em;
  width: 30vw;
  background-color: transparent;
}
.ecommerce_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;  
  padding-top: 2em;
}

.ecom {
  max-height: 30vh;
  background-color: transparent;
  margin: 1.2em;
}
/* --------------------------------------------------------- End Second Info Section  ----- ---------------------------------------------- */


/* ---------------------------------------------------------------- Footer Section ------------------------------------------------------- */

footer {
  background-image: url("images/home2-large.jpg");
  width: 100%;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "SpaceMonoReg";
  max-width: 1300px;
  height: 35vh;
  font-size: 1em;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
}

.links {
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--white);
  color: var(--white);;
}

.links ul {
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
}

.links ul li {
  text-decoration: none;
  background-color: transparent;
  padding: 1em;
  color: var(--white);
}

.links ul li a {
  color: var(--white);
  text-decoration: none;
}

.links ul li a:visited {
  color: var(--white);
  text-decoration: none;
}

.stuff {
  background-color: transparent;
  transition: all 0.4s ease 0s;
}

.socials {
  background-color: transparent;
  width: 25%;
  transition: all 0.4s ease 0s;
}

.stuff a {
  background: none;
}

.stuff a:hover {
  background: none;
}

.stuff {
  transition: all 0.4s ease 0s;
}

.stuff a img {
  padding: 1em;
}

.stuff a img:hover {
  transform: translate(0px, -12.5px);
}

.find_me {
  text-align: center;
  background-color: transparent;
}

.find_me h4 {
  background-color: transparent;
}

a {
  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--white),var(--white));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  text-decoration: none;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  opacity: 200%;
}

.copyright {
  font-weight: bold;
  font-family: "SpaceMonoReg";
  font-size: 0.89em;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 1em;
}
/* ------------------------------------------------------------- End Footer Section ------------------------------------------------------- */


@media all and (max-width: 800px) {

  .main_header h1 {
    font-size: 5em;
  }

  .main_header small {
    color: var(--white);
    margin: 0 auto;
    font-size: 2em;
    font-family: PetitaBold;
    background: transparent;
  }
  /* ------------------------------------------------------------------------------------------ */
  #section_two {
    width: 80vw;
    height: 125vh;
  }
  
  .tile {
    margin: 1em;
    height: 90vh;
    width: 85vw;
  }
  
  .tile h2 {
    text-align: center;
    margin: 1em;
    font-family: "SpaceMonoBold";
  }
  
  .tile_content {
    flex-direction: column;
  }
  
  .tile_content p {
    margin: 0;
    width: 70vw;
    font-size: 0.75em;
  }
  
  .map {
    max-height: 25vh;
    margin: 2em;
    border-radius: 5px;
  }
  
  .languages {
    display: none;
  }

  .languages_mobile {
    display: flex;
    background-color: transparent;
    padding: 1em;
    border-radius: 5px;
  }

  .tile_languages {
    background-color: none;
  }

  .row_one {
    background-color: transparent;
  }

  .row_two {
    background-color: transparent;
  }

  .languages_mobile img {
    width: 75px;
    background-color: transparent;
    padding: 1em;
  }

  footer {
    background-position: center;
  }

  .footer_container {
    flex-direction: column-reverse;
    height: 40vh;
    font-size: 1em;
    margin: 2em;
    background-color: transparent;
  }

  .find_me {
    padding: 1em;
  }

  .copyright {
    margin: 0;
    padding-bottom: 1em;
  }
}