/* ------------------------------------------------------------- Global Settings --------------------------------------------------------- */
  :root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #84DCC6;
    --white: #FFFFFF;
  }
  
  @font-face {
      font-family: 'PetitaBold';
      src: url('fonts/PetitaBold.ttf');
  }

  @font-face {
    font-family: 'PetitaMedium';
    src: url('fonts/PetitaMedium.ttf');
  } 

  @font-face {
    font-family: 'PetitaLight';
    src: url('fonts/PetitaLight.ttf');
  } 

  @font-face {
    font-family: 'SpaceMonoReg';
    src: url('fonts/SpaceMono-Regular.ttf');
  } 

  @font-face {
    font-family: 'SpaceMonoBold';
    src: url('fonts/SpaceMono-Bold.ttf');
  } 
  
  @font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }

  * {
      margin: 0 auto;
      scroll-behavior: smooth;
      padding: 0;
      background-color: var(--eerieblack);
  }
/* --------------------------------------------------------- End Global Settings --------------------------------------------------------- */
/* ----------------------------------------------------------- Landing Section  ---------------------------------------------------------- */
  .main_header {
      background-image: url(images/greysand.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--white);
      height: 100vh;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.4s ease 0s;
    }

  .main_header a {
    text-decoration: none;
    color: var(--white)
  }
  
  .main_header h1 {
      margin: 0 auto;
      font-size: 10em;
      font-family: SpaceMonoBold;
      transition: all 0.4s ease 0s;
      background: transparent
  }

  .main_header h1:hover {
    cursor: pointer;
  }
  
  .main_header small {
      color: var(--white);
      margin: 0 auto;
      font-size: 3em;
      font-family: PetitaBold;
      background: transparent;
  }

  /* Scroll Down Animation */
  .scroll-down {
    height: 1em;
    width: 2em;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 50px;
    transition: all 0.3s ease 0s;
    border: 1px solid var(--white);
    background-color: transparent;
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 1px solid var(--white);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }

  .scroll-down::after {
    top: 30%;
    animation-delay: 0.3s;
  }

  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 90%;
    }
  }

#loader-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid var(--white);
  animation: loader 3s 3 ease-in;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--white);
  animation: loader-inner 3s 3 ease-in;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* ---------------------------------------------------------- End Landing Section  ------------------------------------------------------ */
/* ---------------------------------------------------------- First Info Section  ------------------------------------------------------- */
.section_two {
  width: 100%;
  height: 100vh;
  background-color: var(--eerieblack);
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "SpaceMonoReg";
  transition: all 0.4s ease 0s;
}

.tile {
  margin: 2em;
  background-color: var(--grey);
  height: 70vh;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
}

.tile:hover {
  transform: translate(0px, -10px);
}

.tile h2 {
  background-color: transparent;
  text-align: center;
  margin: 1em;
  font-family: "SpaceMonoBold";
}

.tile_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tile_content p {
  margin: 2em;
  width: 30vw;
  margin-right: 0;
  background-color: transparent;
}

.map {
  max-height: 40vh;
  margin: 2em;
}

.languages {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--mainblue);
}

.languages li {
  background-color: transparent;
}
.languages li a {
  color: var(--mainblue);
  background-color: transparent;
}

.languages li a:visited {
  color: var(--mainblue);
  background-color: transparent;
}

.languages a {
  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--mainblue),var(--mainblue));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  text-decoration: none;
}

languages a:hover,
languages a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  opacity: 200%;
}

.languages_mobile {
  display: none;
}

/* ---------------------------------------------------------- End First Info Section  ---------------------------------------------------- */




/* ---------------------------------------------------------------- Footer Section ------------------------------------------------------- */

footer {
  background-image: url("images/home2-large.jpg");
  width: 100%;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "SpaceMonoReg";
  max-width: 1300px;
  height: 35vh;
  font-size: 1em;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
}

.links {
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--white);
  color: var(--white);;
}

.links ul {
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
}

.links ul li {
  text-decoration: none;
  background-color: transparent;
  padding: 1em;
  color: var(--white);
}

.links ul li a {
  color: var(--white);
  text-decoration: none;
}

.links ul li a:visited {
  color: var(--white);
  text-decoration: none;
}

.stuff {
  background-color: transparent;
  transition: all 0.4s ease 0s;
}

.socials {
  background-color: transparent;
  width: 20%;
  transition: all 0.4s ease 0s;
}

.stuff a {
  background: none;
}

.stuff a:hover {
  background: none;
}

.stuff {
  transition: all 0.4s ease 0s;
}

.stuff a img {
  padding: 1em;
}

.stuff a img:hover {
  transform: translate(0px, -15px);
}

.find_me {
  text-align: center;
  background-color: transparent;
}

.find_me h4 {
  background-color: transparent;
}

a {
  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--white),var(--white));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  text-decoration: none;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  opacity: 200%;
}

.copyright {
  font-weight: bold;
  font-family: "SpaceMonoReg";
  font-size: 0.89em;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 1em;
}
/* ------------------------------------------------------------- End Footer Section ------------------------------------------------------- */





@media all and (max-width: 800px) {
  .section_two {
    width: 80vw;
    height: 100%;
  }
  
  .tile {
    margin: 0;
    height: 90vh;
    width: 85vw;
  }
  
  .tile h2 {
    text-align: center;
    margin: 1em;
    font-family: "SpaceMonoBold";
  }
  
  .tile_content {
    flex-direction: column;
  }
  
  .tile_content p {
    margin: 0;
    width: 70vw;
  }
  
  .map {
    max-height: 25vh;
    margin: 2em;
  }
  
  .languages {
    display: none;
  }

  .languages_mobile {
    display: flex;
    background-color: transparent;
    padding: 1em;
  }

  .tile_languages {
    background-color: none;
  }

  .row_one {
    background-color: transparent;
  }

  .row_two {
    background-color: transparent;
  }

  .languages_mobile img {
    width: 75px;
    background-color: transparent;
    padding: 1em;
  }
}